.inspiry-blogs .first-section{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
   
}
.inspiry-blogs .first-section>div:nth-child(1){ 
    width: 20%;
    margin-top: 20px;
}
.inspiry-blogs .first-section>div:nth-child(2){ 
    width: 70%;
}   
.inspiry-blogs .first-section .sidebar .font-s-medium{ 
    margin-bottom: 10px;
}   
.inspiry-blogs .first-section .flex .facetwp-template{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}

.inspiry-blogs .is-search-form{ 
    margin-bottom: 30px;
    max-width: 300px;
}

.inspiry-blogs .first-section .flex .cards{ 
    width: 320px;
    margin: 20px;
    position: relative;
}
.inspiry-blogs .first-section .flex .cards img{ 
    width: 320px;
    height: 350px;
    object-fit: cover;
}
.inspiry-blogs .first-section .flex .cards .font-s-med{ 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 101;
   display: none;
   color: white;
}
.inspiry-blogs .first-section .flex .cards .overlay{ 
    position: absolute !important;
    z-index: 100;
    display: none;
    width: 100% !important;
    height: 350px !important;
}
.inspiry-blogs .first-section .flex .cards:hover .overlay{ 
    display: block;
    
  
}
.inspiry-blogs .first-section .flex .cards:hover .font-s-med { 
    display: block;
   
}
.facetwp-facet { 
    width: 100% !important;
}
.facetwp-load-more{ 
    display: block;
    margin: 0 auto;
    border: 1px solid #303030;
    padding: 10px 40px;
    background: white;
    color: #303030;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    outline: none !important;
}
@media(max-width:700px){ 
    .inspiry-blogs .first-section .flex{ 
        justify-content: center;
    }
    .inspiry-blogs .first-section>div:nth-child(1){ 
        width: 100%;
    }
    .inspiry-blogs .first-section>div:nth-child(2){ 
        width: 100%;
    }
    .inspiry-blogs .first-section .flex .cards{ 
        width: 100%;
        margin: 20px;
        position: relative;
    }
    .inspiry-blogs .first-section .flex .cards img{ 
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .inspiry-blogs .first-section .flex .cards .font-s-med{ 
       position: static;
       top:0;
       left: 0;
       transform: translate(0%, 0%);
       z-index: 101;
       display: block;
       color: #3F3F3F !important;
       text-decoration: none !important;
    }
    .inspiry-blogs .first-section .flex .cards .overlay{ 
        width: 100% !important;
        height: 300px !important;
    }
}

/*second section */ 
.inspiry-blogs .second-section{ 
    margin-top:100px ;
}
.inspiry-blogs .second-section .flex{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.inspiry-blogs .second-section .flex .cards{ 
    width: 30%;
    margin: 20px;
    position: relative;
    background-color: #EFEAE5;
}
.inspiry-blogs .second-section .flex .cards img{ 
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.inspiry-blogs .second-section .flex .cards .font-s-med{ 
    margin: 20px 0 10px 0 !important;
    position: relative;
    background-color: #EFEAE5;
}
.inspiry-blogs .second-section .flex .cards a{ 
    display: block;
    margin: 20px auto 0 auto;
    width: 170px;
    text-align: center;
    position: relative; 
    top: 15px;
}
@media (max-width:1100px){ 
    .inspiry-blogs .second-section .flex .cards{ 
        width: 100%;
    }
        
}
@media( max-width: 350px){ 
    .inspiry-blogs .second-section .flex .cards{ 
        width: 100%;
        margin: 20px auto;
    }
    .inspiry-blogs .second-section .flex .cards img{ 
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

/*third section */ 
.inspiry-blogs .third-section{ 
    max-width: 890px;
    margin: 100px auto;
}
.inspiry-blogs .third-section .flex{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.inspiry-blogs .third-section .flex .cards{ 
    width: 200px;
    margin: 20px 20px 20px 0;
    position: relative;
    transition: 300ms ease-in-out;
}
.inspiry-blogs .third-section .flex .cards:hover{ 
    transform: translateY(-4px);
}
.inspiry-blogs .third-section .flex .cards img{ 
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.inspiry-blogs .third-section .flex .cards .font-s-med{ 
    margin: 20px 0 10px 0 !important;
    position: relative;
    background-color: #EFEAE5;
}

@media (max-width: 500px){ 
    .inspiry-blogs .third-section{ 
        max-width: 890px;
        margin: 50px auto;
    }
    .inspiry-blogs .third-section .section-ft-size{ 
        text-align: center;
    }
    .inspiry-blogs .third-section .flex{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .inspiry-blogs .third-section .flex .cards{ 
        width: 100%;
        text-align: center;
        margin: 20px 0px 20px 0;
    }
    .inspiry-blogs .third-section .flex .cards img{ 
        width: 100%;
    }
    .inspiry-blogs .third-section .flex .cards a{ 
       display: block;
       margin: 0 auto;
    }
    
}

/*fourth section */ 
.inspiry-blogs .fourth-section{ 
    margin: 50px auto;
    background-color: #EFEAE5;
    padding: 80px 0 50px 0;
}
.inspiry-blogs .fourth-section .flex-container{ 
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px;
    
}
.inspiry-blogs .fourth-section .font-s-med{ 
    margin: 0 auto !important; 
}
.inspiry-blogs .fourth-section .flex{ 
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
   
}
.--visible-flex{ 
    display: flex !important;
        transition: 1s;
}

.inspiry-blogs .fourth-section .flex .cards{ 
    width: 120px;
    margin: 20px 20px 20px 20px;
    position: relative;
    transition: 300ms ease-in-out;
  
}
.inspiry-blogs .fourth-section .flex .cards:hover .button{ 
   display: block;
}
.inspiry-blogs .fourth-section .flex .cards img{ 
    width: 120px;
    height: 200px;
    object-fit: cover;
}
.inspiry-blogs .fourth-section .flex .cards .font-s-med{ 
    margin: 20px 0 10px 0 !important;
    position: relative;
    background-color: #EFEAE5;
}
.inspiry-blogs .fourth-section .flex .cards .button{ 
    display: block;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 5px 5px !important;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 1px solid #303030 !important;
}
.fourth-section .nav-buttons
{ 
    position: absolute;
    right: 0;
    top: -35px;
}
.fourth-section .nav-buttons button{ 
   cursor: pointer;
    padding: 10px 5px;
    background: none !important;
    outline:none;
}
.border-none{ 
    border: none !important;
}
.button-border{ 
    color:#dcd6d1;
    border-bottom: solid #EFEAE5 !important;
    transition: 500ms ease-in-out;

}

@media (max-width: 500px){ 
    .inspiry-blogs .fourth-section .flex .cards{ 
        width: 100%;
        margin: 20px 20px 20px 20px;
        position: relative;
        transition: 300ms ease-in-out;
      
    }
    .inspiry-blogs .fourth-section .flex .cards .button{ 
    display: block !important;
    width: 100px;
    text-align: center;
    margin: 5px auto;
    padding: 5px 5px !important;
    position: static;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);

    border: 1px solid #303030 !important;
}
    .inspiry-blogs .fourth-section .flex .cards img{ 
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .fourth-section .nav-buttons
{ 
    position: absolute;
    left: 10%;
    top: -35px;
}
  
}

/*fifth section */ 
/*third section */ 
.inspiry-blogs .fifth-section{ 
    background: #EFEAE5;
    padding: 20px 0;
    margin-top: 50px;
}
.inspiry-blogs .fifth-section .font-s-regular{ 
    text-align: center;
    max-width: 890px;
    text-transform: uppercase;
    margin: 0 auto;
}
.inspiry-blogs .fifth-section .flex{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 890px;
    margin: 0 auto; 
}
.inspiry-blogs .fifth-section .flex .cards{ 
    width: 200px;
    margin: 20px 20px 20px 0;
    position: relative;
    transition: 300ms ease-in-out;
}
.inspiry-blogs .fifth-section .flex .cards:hover{ 
    transform: translateY(-4px);
}
.inspiry-blogs .fifth-section .flex .cards img{ 
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.inspiry-blogs .fifth-section .flex .cards .font-s-med{ 
    margin: 20px 0 10px 0 !important;
    position: relative;
    background-color: #EFEAE5;
}

@media (max-width: 500px){ 
    .inspiry-blogs .fifth-section{ 
        max-width: 890px;
        margin: 50px auto;
    }
    .inspiry-blogs .fifth-section .section-ft-size{ 
        text-align: center;
    }
    .inspiry-blogs .fifth-section .flex{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .inspiry-blogs .fifth-section .flex .cards{ 
        width: 100%;
        text-align: center;
        margin: 20px 0px 20px 0;
    }
    .inspiry-blogs .fifth-section .flex .cards img{ 
        width: 100%;
    }
    .inspiry-blogs .fifth-section .flex .cards a{ 
       display: block;
       margin: 0 auto;
    }
    
}





/*instagram */ 
.juicer-feed h1.referral {
    margin: 0 !important;
}
.juicer-feed h1.referral a:after{ 
    display: none !important;
}
.j-text, .j-poster, .j-paginate{ 
    display: none !important;
}
.j-stacker>div{ 
    padding: 0 !important;
} 

.inspiry-blogs .social-section { 
    text-transform: uppercase;
    letter-spacing: 1px;
    background: white;
    max-width: 1300px;
    position: relative;
}
.inspiry-blogs .social-section .overlay{ 
    display: block;
    position: absolute;
}

.feed-item {
    transition:all 0.3s ease;
    width: 250px !important; 
    margin: 0 !important;
}
.social-section .j-stacker {
    display: flex !important;
    justify-content: center !important;
    flex-direction: row !important;
}
.j-stack { 
    width: 250px !important;
    margin: 5px;
}
.j-stack li{ 
   
    margin: 10px !important;
}
.j-image img:hover
{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
}

/*single blog*/ 
.single-blog{ 
    max-width: 1200px;
    margin: 0 auto;
}
.single-blog p {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5em;
}