/*usp */ 
.home-page .usp{
    display: flex; 
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}
.home-page .usp>div{
    display: flex; 
    flex-direction: row;
    justify-content:center;
    margin: 10px 0 !important;
    flex-wrap: wrap;
}
.home-page .usp .ft-wt-med{ 
    text-transform: uppercase;
}
.home-page .usp>div{ 
    padding: 20px 20px;
}
.home-page .usp i{ 
    padding: 0px 10px 0 0;
    font-size: 40px;
}

@media (max-width: 740px){ 
    .home-page .usp{
        display: flex; 
        flex-direction: row;
        justify-content:flex-start;
        flex-wrap: wrap;
    }
    .home-page .usp>div{
        display: flex; 
        flex-direction: column;
        justify-content:center;
        margin: 0px 0 !important;
        flex-wrap: wrap;
        padding: 20px 20px;

    }
}


/*box-section-------*/ 
.box-section .flex{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}   
.box-section .flex .photo{ 
    width: 35%;
   
}
.box-section .flex .boxes{ 
    width: 30%;
    height: 70vh;
}

.box-section .flex img{ 
    width: 100%;
    object-fit: cover;
    height: 70vh;
}

.box-section .boxes{ 
    display: flex;
    flex-direction: column;
}
.box-section .boxes>div{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.box-section .boxes>div:nth-child(1){ 
    background: #585851;
}
.box-section .boxes>div:nth-child(2){ 
    background: #4C7384;
}
.box-section .boxes a{ 
    color: white;
    padding-top: 10px;
}
.box-section .boxes a:hover{ 
    color: white;
    padding-top: 10px;
    text-decoration: underline;
}
.box-section i{ 
    color: white;
}
.box-section .fa-arrow-up{ 
    display: none;
}
.box-section .fa-arrow-down{ 
    display: none;
}
@media (max-width:800px){ 
    .box-section .flex .photo{ 
        width: 100%;
       
    }
    .box-section .flex img{ 
        width: 100%;
        object-fit: cover;
        height: 50vh;
    }
    .box-section .flex .boxes{ 
        width: 100%;
        height: 70vh;
    }
 
    .box-section .fa-arrow-left{ 
        display: none;
    }
    .box-section .fa-arrow-right{ 
        display: none;
    }
    .box-section .fa-arrow-up, .fa-arrow-down{ 
        display: inline;
    }
}

/*loving section */ 
.loving-section{ 
    position: relative;
    top: 100px;
    margin-bottom: 150px;
}
.loving-section .lg-font-sz{ 
 background-color: white;
padding: 20px 20px;
    position: absolute;
    left: 50%;
    top: -65px;
    transform: translateX(-50%);
    text-transform: uppercase;
}
.loving-section .flex{ 
    margin-top: 100px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.loving-section .flex .cards{ 
    width: 30%;
   margin: 20px 20px;
   min-width: 500px;
}

.loving-section .flex .cards>div{ 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.loving-section .flex img{ 
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
.loving-section .flex a:hover{ 
   text-decoration: underline;
}
@media (max-width:500px){
    .loving-section .flex .cards{ 
       min-width: 200px;
    }
    
}
@media (max-width:1300px){ 
    .loving-section{ 
        top: 150px;
    }
    .loving-section .lg-font-sz{ 
           left: 50%;
           top: -85px;
       }
       .loving-section .flex{ 
        margin-top: 150px;
    }
}
@media (max-width:900px){ 
    .loving-section .flex .cards{ 
        width: 100%;
    }
    .loving-section .flex img{ 
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }
}

/*featured Project */ 

.featured-project-section{ 
    position: relative;
    top: 100px;
    padding-bottom: 150px;
}
.featured-project-section .lg-font-sz{ 
 background-color: white;
padding: 20px 20px;
    position: absolute;
    left: 50%;
    top: -65px;
    transform: translateX(-50%);
    text-transform: uppercase;
}
.featured-project-section .flex{ 
    margin-top: 100px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.featured-project-section .flex .card{ 
    width: 100%;
    margin: 20px;
    position: relative;
    cursor: pointer;
    max-width: 700px;
}
.featured-project-section .flex img{ 
    width: 100%;
    height: 50vh ;
    object-fit: cover;
    transition: 100ms;
    transition-timing-function: ease-in-out;
}
.featured-project-section .flex img:hover{ 
    width: 100%;
    height: 50vh ;
    object-fit: cover;
    border: 8px solid #EFEAE5;
}

.hover-overlay{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 300ms;
    transition-timing-function: ease-in-out;
  background-color: #EFEAE5;
  opacity: 0;
}

.featured-project-section .flex .column-s-font{ 
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
@media(max-width: 500px){ 
    .featured-project-section .flex img{ 
        width: 100%;
        height: 50vh ;
        object-fit: cover;
        transition: 100ms;
        transition-timing-function: ease-in-out;
    }
}

/*brand Stripe */ 
.brand-stripe{ 
    background: #EFEAE5;
    padding: 50px;
}
.brand-stripe .flex{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
} 
.brand-stripe .flex img{ 
    margin: 20px;
}
/*trade proffesionials */ 
.featured-trade-section .flex{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.featured-trade-section .flex .underline-dg{ 
    width: 60px;
    margin: 20px auto 50px auto;
}
.featured-trade-section .flex .card{ 
   margin: 20px;
   width: 400px;
}
.featured-trade-section .flex .card .gallery{ 
    width: 100%;
    height: 250px;
    object-fit: cover;
 }
 .featured-trade-section .logo{
     width: 350px;
     margin: -50px auto 0 auto;
     padding: 20px 20px;
     background-color: white !important;
     position: relative;
 }
 .featured-trade-section .logo  img{
    margin: 0 auto;
    display: block;
    width: 150px !important;
    height: 120px !important;
    object-fit: cover;
}
.featured-trade-section .flex .card .paragraph{ 
    line-height: 1.7em;
 }
.featured-trade-section .flex .card:nth-child(1){ 
    background: #EFEAE5;
    padding: 50px 20px 20px 20px;
 }
.featured-trade-section .flex .card .button{ 
    display: block;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
 }
 .featured-trade-section .flex table{ 
     margin-top: 20px;
 }
 .featured-trade-section .flex table, th, td {
   
    border-collapse: collapse;
  }
  .featured-trade-section .flex th, td {
    padding: 0px 5px 0 5px;
    text-align: left;    
     font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .featured-trade-section .flex th{ 
      color:#999999; 
  }
  .featured-trade-section .flex td{ 
    font-family: 'work sans', sans-serif;
}
  .featured-trade-section .flex td a{ 
    font-family: 'work sans', sans-serif;
}
.featured-trade-section .flex td a:hover{ 
text-decoration: underline;
}
 
 