.single-projects{
    background: rgb(250, 250, 250);
}
.single-project-hero-section .gallery-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    
}
@media(min-width: 1350px){
    .single-project-hero-section .gallery-container{
        margin-top: 70px;
        
    }
}
.single-project-hero-section .gallery-container .single-image{
    width: 63%;
}
.single-project-hero-section .gallery-container .single-image img{
    width: 100%;
}
.single-project-hero-section .gallery-container .image-gallery{
    width: 35%;

}
.single-project-hero-section .gallery-container .image-gallery img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin: 0 10px 10px 0;
    display: inline-block;
}

@media (max-width: 1200px){
    .single-project-hero-section .gallery-container{
        flex-direction: column;
    }
    .single-project-hero-section .gallery-container .single-image{
        width: 100%;
    }
  
    .single-project-hero-section .gallery-container .image-gallery{
        width: 100%;
    }
    .single-project-hero-section .gallery-container .image-gallery img{
        width: 150px;
        height: 100px;
        object-fit: cover;
        margin: 10px 10px 10px 0;
        display: inline-block;
    }
}
@media (max-width:550px){
    .single-project-hero-section .gallery-container .image-gallery img{
        width: 70px;
        height: 50px;
        object-fit: cover;
        margin: 10px 10px 10px 0;
        display: inline-block;
    }
}

/* content*/ 
.single-project-content-section .content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.single-project-content-section .content-container .main-content {
    width: 63%;
    background: white;
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}


.single-project-content-section .content-container .meta-info{
    width: 35%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    padding: 20px;
}
.single-project-content-section .content-container .meta-info>div{
    margin: 0 20px 20px 10px;
}
.single-project-content-section .content-container .main-content p{
    margin: 10px 0 40px 0;
}

/*related product*/ 
.project-card-container{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    padding: 20px;
    background: white;
   margin: 0 auto 50px auto !important;
   width: 100%;
   
}
.single-project-related-section .content{
    margin: 30px 30px 0 0 !important;
    
    
}

@media(max-width: 800px){
    .single-project-content-section .content-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .single-project-content-section .content-container .main-content {
        width: 100%;
    }
    
    
    .single-project-content-section .content-container .meta-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .single-project-content-section .content-container .meta-info>div{
        margin: 0 20px 20px 0;
    }
    
}