.single-services-section .content-container p{
    margin: 10px 0 !important;
}

.single-services .project-card-container{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    padding: 20px;
    background: white;
   margin: 0 auto 50px auto !important;
   width: 100%;
   
}

.single-services .main-content h2{
    color: #222222;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

.single-services ul{
    margin-left: 20px;
}
.single-services li{
    font-size: 15px;
    line-height: 1.5em;
    color: #606060;
    font-weight: 300;
}