.trade-page .slider h3{ 
    margin-bottom: 20px;
    text-transform: none !important;
}
.inspiry-trade h1{ 
    margin: 40px 0 10px 0;
}
.inspiry-trade h2{ 
 line-height: 1.6em;
 margin: 0 auto 40px auto;
max-width: 800px;
}

.inspiry-trade .trade-register-button{ 
    margin: -10px auto;
    display: block;
}
/*steps */ 
.inspiry-trade .steps-container{ 
    background: #EFEAE5;
    padding: 100px 10px;
}
.inspiry-trade .steps-container .section-ft-size{ 
    text-transform: none !important;
}
.inspiry-trade .steps-container .steps{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}
.inspiry-trade .steps-container .steps>div{ 
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.inspiry-trade .steps-container .steps .font-s-med{ 
    width: 200px;
}
.inspiry-trade .steps-container .number{ 
    background: #3F3F3F;
    border-radius: 50%;
   padding: 0;
    color:white;
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 70px;
    font-family: 'work sans', sans-serif;
}
/*slogan*/ 
.inspiry-trade .slogan{ 
    padding: 100px 10px 50px 10px !important;
    max-width: 900px;
    margin: 0 auto;
}
/*cards */ 
.inspiry-trade .card-row{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    margin: 100px auto;
    justify-content: space-around;
}
.inspiry-trade .card-title{ 
    width: 300px;
}

.inspiry-trade .card-title h3{ 
    margin: 20px 0 10px 0 ;
}

.inspiry-trade .card-content{ 
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.inspiry-trade .card-content ul{
    width: 230px;
    margin-top:20px;
    
}
.inspiry-trade .card-content li{
   font-family: "work sans", sans-serif;
   font-size: 22px;
   color: #808080;
   margin-left: 20px;
   margin-top: 15px;
    padding: 0 10px;
}