.info{ 
    font-family: 'work-sans', sans-serif;
}
.standard-form label{ 
    font-family: 'work-sans', sans-serif !important;
}
.text{ 
    font-family: 'work-sans', sans-serif !important;
}
#buddypress a{ 
    color: #303030;
    font-weight: 500;
}

.user-subnav{ 
    background: #F8F7F3 !important;
}
.bp-single-vert-nav .bp-navs.vertical li.selected a{ 
    background: #F8F7F3 !important;
}
.vertical .users-nav a:hover{ 
    background: #F8F7F3 !important;
}

/*tabs */ 
.bp-personal-tab a{ 
    padding: 10px 5px !important;
    font-size: 18px;
}

/*address */ 
.bc-account-addresses__item{ 
    background: #F8F7F3 !important;
}
.bc-account-addresses__add-new{ 
    background: white !important;
}

/*wishlist */ 
.bc-account-page .bc-wish-list-header-title { 
    font-size: 20px !important;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'work-sans', sans-serif;
}
.bc-account-page .bc-wish-list-btn--new{ 
    background:#303030 !important;
   
    padding: 10px 20px !important;
}
.bc-wish-list-btn--new:hover{ 
    background:#525659 !important;
   
}
button.bc-product-quick-view__close-button {
    border: none;
} 
.bc-wish-list-dialog-title{ 
    font-weight: 500;
}
.bc-wish-list-dialog-description{ 
    font-size: 14px !important;
    font-family: 'work-sans', sans-serif !important;
}
.bc-wish-list-dialog-form label{ 
    font-size: 15px !important;
    font-family: 'work-sans', sans-serif !important;
    font-weight: 500;
    letter-spacing: 1px;
}
.custom-wishlist-btn{ 
    background:#303030 !important;
}
.custom-wishlist-btn:hover{ 
    background:#525659 !important;
}

/*Trade listings*/ 
#buddypress .geodir-category-list-view{ 
    justify-content: flex-start !important;
}
/*trade invoices*/ 
.wpinv-item .print{ 
    background:#F8F7F3 !important;
    padding: 13px 0 0 0;
}
.wpinv-item .print:hover{ 
    background: #303030!important;
    padding: 13px 0 0 0;
}

.wpinv-item-wpi-pending .pay{ 
    background: #303030!important;
    padding: 13px 0 0 0;
}
.wpinv-item-wpi-pending .pay:hover{ 
    background: #525659 !important;
    
}
.wpinv-item span{ 
    background: none !important;
    color: black !important;
    font-weight: 400 !important;
}

.wpinv-item-wpi-pending .pay
{   border: none;
    color: white !important;
}
#buddypress .wpi-bp-invoices table span{ 
    font-weight: 500 !important;
}

.wpi-g .label-success {
    background-color: #F8F7F3;
    color: #303030;
    font-weight: 400;
}

.wpinv-receipt-actions .print{ 
    background-color: #303030;
}
.wpinv-receipt-actions .print:hover{ 
    background-color: #525659;
}

.wpi-g .btn-warning {
    background-color: white !important;
    border: 1px solid #525659 !important;
    color: black !important;
    display: none;
}
.wpinv-receipt div{ 
    font-family: 'work-sans', sans-serif !important;
}
.wpinv-receipt-details h3, th, strong{ 
    font-family: 'work-sans', sans-serif !important;
}
.wpinv-receipt-details h3{ 
    margin-top: 20px;
}
.wpinv-receipt-details table{ 
    margin-top: 10px;
}
.wpinv-receipt-details th, strong{ 
font-weight: 500;
}


/*subscriptions */ 
.wpinv-sub-items .btn-primary{
    background: #303030 !important;
    color: white !important;
    padding: 10px 0 0 0;
}
.wpinv-sub-items td{ 
    font-family: 'work-sans', sans-serif !important;

}
.wpinv-sub-items .btn-primary:hover{
    background: #525659 !important;
}
 .wpi-g .label-info{ 
    background: none !important;
    color: black !important;
    font-weight: 500;
}
.wpinv-checkout-class table span{ 
    font-weight: 600;
}
.wpinv-checkout-class { 
    font-family: 'work-sans', sans-serif !important;
}

/*settings */ 
.user-pass1-wrap .button { 
    border: 2px solid #303030 !important;
}
.wp-generate-pw:hover{ 
    border: 2px solid #525659 !important;
background: white !important;    
}
#buddypress .submit .auto { 
    background: #303030 !important;
    display: inline-block !important;
}
#buddypress .submit .auto:hover { 
    background: #525659 !important;
    display: inline-block !important;
}

    /*email setting*/ 
.item-body, .bp-help-text{ 
    font-family: 'work-sans', sans-serif !important;
}
.notification-settings th, td{ 
    font-family: 'work-sans', sans-serif !important;
    font-size: 15px;
    padding: 2px 0 !important;
}

/*lsiting section */ 
.gd_user_action i{ 
    color: #303030 !important;
}

