.login-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
   
}

.login-form-container>div {
    width: 45%;
    max-width: 500px;
    margin: 20px;
}
@media (max-width:800px){
    .login-form-container>div {
        width: 100%;
        
    }
}
.login-form-container form {
    border: 1px solid rgba(0,0,0,0.3) !important;
    display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap;
        align-items: flex-start;
    justify-content: flex-start !important;
    padding: 20px;
    margin-top: 20px;
}

.login-form-container .login-section{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap;
justify-content: flex-start !important;
}
.form-row{
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
   width: 100%;

}
.form-row::before {
content: none !important; 
}
.form-row::after {
    content: none !important; 
    }

.login-form-container input{
    display: block !important;
    width: 100% !important;
    height: 50px !important;
    
}
.login-form-container label{
    text-decoration: none !important;
    font-weight: 400 !important;
    border: none !important; 
}
.login-form-container #rememberme{
    width: 30px !important;
    height: 20px !important;
    margin-left: 10px;
}
.login-form-container button{
    margin: 20px 0 0 0;
}
.register-section button{
    margin: 20px 0 0 0 !important;
    font-size: 16px;
}
/*remember me*/
.remember-me-label{
    display: flex; 
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start !important;
    }

    /*login lightbox*/
    .login-overlay{
        overflow: scroll;
    } 
    .login-overlay .register-section{
        display: none;
    }
    .login-overlay .login-form-container{
        margin: 0 !important;
        width: 100% !important;
        overflow: scroll;
    }
    .login-overlay .login-section{
        width: 100% !important;
    }
    .login-overlay .form-content{
        margin: 0 !important;
    }
    .login-overlay .woocommerce{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }